*{
    box-sizing: border-box;
    margin: 0;

}

h1{
    font-size: 3em;
    font-style:italic;
    text-align: center;
}

main{
    display: none;
}

.gameboard{
    width: 50vw;
    height: 50vh;
    border: solid black 1px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;  
    
}

.cells{
    border: solid green 1px;
    width: 100%;
    height: 100%;
}

.ui{
    display: flex;
    justify-content: center;
}

.ui input{
    font-size: 1em;
}

.buttons{
    font-size: 2em;
    background-color: black;
    color: white;
    cursor:pointer;
}